.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter {
  width: 30%;
  border: 2px solid red;
  background-color: rgb(35, 0, 35);
  color: rgb(2, 240, 61);
  font-size: 32px;
  font-weight: 700;
  align-items: center;
  padding: 100px;
}

button {
  border: none;
  color: rgb(228, 225, 228);
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 20px;
}
button:nth-child(1) {
  background-color: green;
}
button:nth-child(2) {
  background-color: red;
}
.btn {
  display: flex;
  gap: 30px;
  justify-content: center;
}