* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(199, 197, 197);
}

.container{
    display: grid;
    height: 120px;
    width: 120px;
    border: 1px solid rgb(98, 88, 88);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    margin: 150px 150px;

}

.container1{
    display: grid;
    height: 100vh;
    border: 1px solid rgb(98, 88, 88);
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 1px;
    grid-template-areas: 'header header header' 'nav main aside' 'footer footer footer';

}

.box{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: rgb(30, 196, 94);
    border: 1px solid rgb(135, 116, 116);
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-style: bold;
}

.box:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
    grid-template-areas: 'header header header' 'nav main aside' 'footer footer footer';
}

header {
    background-color: red;
    color: black;
    font-size: 12px;
    grid-area: header;

}

footer {
  background-color: black;
  color: white;
  font-size: 12px;
  grid-area: footer;
}

nav {
  background-color: blue;
  grid-area: nav;
}
main {
  background-color: yellow;
  color: red;
  grid-area: main;
}
aside {
  background-color: green;
  color: white;
  grid-area: aside;
}

